.gallery {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: scroll;
}

.main {
  width: 80vw;
  height: 80vh;
  margin: 1% auto;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}
